#page {
    max-width:8.2681in;
    margin-top:0.9839in; 
    margin-bottom:0.9839in; 
    margin-left:1.1811in; 
    margin-right:1.1811in;
}

div.background {
    height:297mm;
    width:210mm; 
    padding:0;  
    position:relative; 
    left:0cm; 
    top:0cm;
}