#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.certificateError {
  color: red;
  font-size: 128pt;
  background-color: beige;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.testcertificate {
  position: absolute; /* Sit on top of the page content */
  width: 100%;     /* Full width */
  height: 100%;    /* Full height */
  top: 0;
  left: 0;
  background-color: rgba(200, 10, 18, 0.75); /* Black background with opacity */
  z-index: 2;      /* Specify a stack order */
  cursor: pointer; /* Add a pointer on hover */
}

.testcertificateoverlay {
  position: absolute;
  width: 210mm;
  height: 500mm;
  top: 5cm;
  left:5cm;
  background-color: rgba(200,10,10,0.75);
  color: rgb(255, 255, 15);
  font-size: 128pt;
  z-index: 1;
}