.certificate {
    position: relative;
    top: 0cm;
    left: 0cm;
    width: 210mm;
    height: 297mm;

    font-family: 'Times New Roman', Times, serif;
}

.competition {
    text-align: center;
    font-size: 16pt;
    position: absolute;
    top: 4cm;
    left: 12cm;
    width: 3cm;
    visibility: hidden;
}

.league {
    text-align: center;
    font-size: 32pt;
    position: absolute;
    top: 9cm;
    left: 24cm;
    width: 19cm;
    visibility: hidden;
}

.type {
    text-align: center;
    font-size: 54pt;
    position: absolute;
    top: 14cm;
    left: 60mm;
    width: 210mm;
}

.team {
    text-align: center;
    font-size: 36pt;
    position: absolute;
    top: 17cm;
    left: 60mm;
    width: 210mm;
}

.memberTableDiv {
    text-align: center;
    font-size: 48pt;
    position: absolute;
    top: 24cm;
    left: 29cm;
    width: 19cm;
    visibility: hidden;
}

.qrcode {
    width: 256;
    height: 256;
    margin: 0 auto;
    max-width: 320;
    position: absolute;
    top: 0cm;
    left: 0cm;
    background: whitesmoke;
    padding: 16px;
}

.testcertificate {
    position: absolute; /* Sit on top of the page content */
    width: 100%;     /* Full width */
    height: 100%;    /* Full height */
    top: 0;
    left: 0;
    background-color: rgba(255, 10, 18, 0.75); /* Black background with opacity */
    z-index: 2;      /* Specify a stack order */
    cursor: pointer; /* Add a pointer on hover */
  }