.certificate {
    position: relative;
    top: 1cm;
    left: 1cm;
    width: 100%;
    height: 100%;
}

.competition {
    text-align: center;
    font-size: 64pt;
    position: absolute;
    top: 10cm;
    left: 12cm;
    width: 3cm;
}

.league {
    text-align: center;
    font-size: 48pt;
    position: absolute;
    top: 9cm;
    left: 24cm;
    width: 19cm;
}

.type {
    text-align: center;
    font-size: 54pt;
    position: absolute;
    top: 14cm;
    left: 24cm;
    width: 19cm;
}

.team {
    text-align: center;
    font-size: 36pt;
    position: absolute;
    top: 19cm;
    left: 18cm;
    width: 30cm;
}

.memberTableDiv {
    text-align: center;
    font-size: 48pt;
    position: absolute;
    top: 24cm;
    left: 29cm;
    width: 19cm;
}

.qrcode {
    width: 256;
    height: 256;
    margin: 0 auto;
    max-width: 320;
    position: absolute;
    top: 27cm;
    left: 9cm;
    background: whitesmoke;
    padding: 16px;
}

.testcertificate {
    position: absolute; /* Sit on top of the page content */
    width: 100%;     /* Full width */
    height: 100%;    /* Full height */
    top: 0;
    left: 0;
    background-color: rgba(255, 10, 18, 0.75); /* Black background with opacity */
    z-index: 2;      /* Specify a stack order */
    cursor: pointer; /* Add a pointer on hover */
  }